<div class="container py-5">
  <div class="d-flex gap-2 mb-4">
    <%= link_to "← Volver", admin_orders_path, class: "btn btn-outline-dark" %>

   <%= link_to "Editar pedido",
       edit_admin_order_path(@order),
       class: "btn btn-dark" %>
  </div>

  <div class="product-card">
    <h1 class="fw-bold mb-2"><%= @order.number %></h1>
    <div class="text-muted mb-4"><%= @order.customer.name %></div>

    <div class="row mb-5">
      <div class="col-md-4">
        <div class="text-muted small">Entrega</div>
        <div class="fw-bold"><%= @order.delivery_date.strftime("%d/%m/%Y") %></div>
      </div>

      <div class="col-md-4">
        <div class="text-muted small">Estado</div>
        <div class="fw-bold"><%= @order.status.humanize %></div>
      </div>

      <div class="col-md-4">
        <div class="text-muted small">Total</div>
        <div class="fw-bold">$<%= number_with_delimiter(@order.total_cents / 100) %></div>
      </div>
    </div>

    <h4 class="mb-3">Productos</h4>

    <% @order.order_items.each do |item| %>
      <div class="d-flex justify-content-between border-bottom py-3">
        <div>
          <div class="fw-bold"><%= item.product_name_snapshot %></div>
          <div class="text-muted">x<%= item.quantity %></div>
        </div>

        <div class="fw-bold">
          $<%= number_with_delimiter(item.line_revenue_cents / 100) %>
        </div>
      </div>
    <% end %>

    <% if @order.customer_comment.present? %>
      <div class="mt-4">
        <div class="text-muted small">Comentario cliente</div>
        <div><%= @order.customer_comment %></div>
      </div>
    <% end %>
  </div>
</div>